VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51SnDLfDioPWQA6DkjMNAKdzyXeVGnnZWqwwFEacVTuFJXJAtKjGirRUcXrlTFimIqoHSGX7tjeud3iEDzIh6qiXC00fZkLENk7
VITE_HOST=https://ubiquitous-space-system-qpqq6g6vr76h99rp-3000.app.github.dev